<%include ../partials/header%>
<style>
    .thumbnail{
        padding:0;
        margin:0;
        height:50%;
        width:50%;
    }
    .well{
        padding:0px;
        margin:0px;
    }
</style>


<div class="container img-responsive" >
    <div class="row">
        <div class="col-md-3" >
            <h1 ><%= worker.name %><strong></strong></h1><hr>
            <h3><%=worker.description%></h3>
            <h3><%=worker.age%></h3>
            <h3><%=worker.location%></h3>
        </div>
        <div class="col-md-9 text-center" style="width:75% height: 75%">
        
            
            
           
            <<div></div>
               
             
        </div>
            
            
            
            

    </div>
</div>






